<section id="spacer1" class="home-section spacer">	
           <div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="color-light">
						<h2 class="wow bounceInDown" data-wow-delay="1s">정치를 외면한 가장 큰 대가는 <br>가장 저질스러운 인간들에게 지배당한다는 것이다.</h2>
						<p class="lead wow bounceInUp" data-wow-delay="2s">- Platon -</p>	
						</div>
					</div>				
				</div>
            </div>
		</section>	  
		
		<section id="services" class="home-section bg-white">
		<div class="container">
			  <div class="row">
				  <div class="col-md-offset-2 col-md-8">
					<div class="section-heading">
					 <h2>문항별 아무말 후보 확인</h2><br>
					 <h4>1. 공권력 남용 & 측근 혹은 본인의 비리</h4>
					 <p><문재인><br>
- 아들 취업 특혜 논란<br>
- 18대 대선 당시 민주통합당 소속 국회의원 보좌진들이 모여 만든 사조직이 대선 기간동안 조직적 SNS 활동을 벌이다 적발. 그 중 한명이 19대 대선에서도 캠프의 SNS 팀을 맡음<br>
<br><홍준표><br>
- 성완종 리스트와 관련한 대법원 판결을 앞두고 있는 사람<br>
- 2013년 2월 26일 홍준표 경상남도 도지사는 의료공급 과잉과 귀족노조와 수익성 악화에 따른 적자 누적을 주장하며 진주의료원의 폐업 결정을 돌연 발표
<br><br><안철수><br>
- 부인 대학 교수 채용 비리<br>
- 예비군 불참 논란<br>
- 부인의 사적인 보좌관이용 논란<br>
- 공직자가족 재산공개 발의 한 후, 본인 딸 재산공개 거부<br>
- 안철수 후보가 안철수연구소(現 안랩) 대표이사 시절 ‘외제차’를 타고 다니면서 국내 언론 인터뷰에서는 ‘국산차를 탄다’고 했던 것
<br>- 과거 자신의 저서를 통해 “연구소에 나의 친척이 한 명도 없다”고 강조했지만 정작 회사 설립 초창기에 가족들을 이사와 감사로 앉혔던 것 적발. 
<br>- 본인이 불통이라고 비난해오던 박근혜 전 대통령처럼 기자회견이 끝나면 기자들과의 질의응답도 거의 받지 않는 것으로도 유명. 
<br>- 보좌관 2년동안 26명이 교체. 교체된 전직 보좌관 중 한 명은 안철수 의원을 '신하의 간언을 듣지 않는 군주'라고 평가
<br>- 박근혜 당시 대선후보와 안철수 후보에 대한 네거티브 논란을 다루면서 안철수가 기업인일 당시 2003년 최 회장이 분식회계 등 혐의로 구속되자 자신과 최 회장을 비롯한 유명 벤처기업인·재벌가 자제 등이 속한 `브이소사이어티' 명의로 선처를 호소하는 탄원서를 낸 사실을 지적하였다. 
<br>-안철수 국민의당 후보가 버락 오바마 전 미국 대통령 연설문 중 두 문장을 베꼈다는 의혹이 제기. 
<br><br><유승민>
<br>- 새누리당 전현직 의원들에게 금품을 건내고 골프 접대를 한 사건에 보좌관 연루.
<br>- 딸의 재산내역, 22살에 2억의 재산을 보유. 하지만 증여세는 한 푼도 내지 않음.

</p>


<br><h4>2.사회적 약자, 인권, 복지에 대한 인식(보육,여성, 장애인,고인)</h4>
<p><br><문재인><br>
-동성애 법제화 반대 발언- 앞으로 동성애 동성혼을 사실상 허용하는 법률 조례 규칙이 제정되지 않도록 적극 노력하겠다
<br>- 북한 자연미인발언 - 문재인 후보는 "부산아시안게임에서 보니까, 북한응원단이 완전히 자연미인이었다"고 말했다. 그러면서 "그 뒤에 나온 건 북한에서도 성형수술을 한다고 하더라"고 농을 던졌다. 또한 문재인 후보는 "이번에도 북한에 미녀 응원단을 보내달라고 요청했다"며 사실상 북한응원단에 대해 성차별성 발언을 내놨다
<br>- 문재인 더불어민주당 후보는 4월 20일 본인의 유세차량이 '장애인 주차구역'을 점령
<br>- 강남역 묻지마 살인사건에 더불어민주당 문재인 의원은 트위터에 추모 현장에 있던 "다음 생엔 부디 남자로 태어나요" 라는 문구가 적힌 한 포스트잇을 인용하며 희생된 피해자를 애도
<br>- 복지공약 축소논란 
<br>13일 발표분에는 만 0세에서 5세 아동 중 소득 하위 80%를 대상으로 월 20만 원씩 지급한다고 돼있습니다.
그런데 17일 선관위 자료에는 월 10만 원부터 시작해 단계적으로 인상한다고만 돼있습니다.

<br><br><홍준표><br>
- 하숙방 동기들과 돼지흥분제를 이용한 성폭력 모의
<br>- 설거지는 여자가
<br>- 이화여대생이랑 미팅을 했는데, 그 학생이 출신 고등학교를 묻더니 '영남고'라고 말해줬다. 30초 내에 자리를 박차고 나가더라. 그날 이후로 이대 계집애들은 싫어한다
<br>-남자가 하는 일이 있고, 여자가 하는 일이 있다
<br>-그는 고(故) 노무현 전 대통령을 향해 “뇌물 먹고 자살한 사람”이라 표현
<br>-"세월호 사건, 3년 해먹었으면 됐다"
<br>-해고 쉬우면 비정규직 해결 쉬워진다.

<br><br><안철수><br>
-동성애 법제화 반대발언
<br>-대머리의 매력이 뭔지 아세요?"라고 묻고는 잠시 뒤 "헤어(Hair)날 수 없는 매력
<br>- 유치원 교육에 대해서 병설유치원 신설은 자제하고 사립유치원 독립 운영을 보장할 것
<br>-국민의당은 지난 9일 "안철수 후보 측이 대전 현충원에서 천안함 희생 장병 유가족을 내쫓았다는 뉴스는 가짜뉴스"라면서 형사 고발 등 강력 대응하겠다고 밝혔다. 하지만 <오마이뉴스> 취재 결과 실제 유가족이 올린 글은 사실
<br>-가방 속에서 나온 컵라면이 마음을 더 아프게 한다. '조금만 여유가 있었더라면 덜 위험한 일을 택했을지도 모른다.'-'구의역 사고의 최대 원인은 비정규직 직원들이 비인간적으로 혹사당하는 시스템으로 말미암은 인재(人災)였는데 안철수 의원은 단지 저 희생자 개인이 가난해서 일어난 사고라고 생각하느냐'
<br>-한·일 위안부 합의에 대해 어떻게 생각하느냐”고 묻자 “(위안부 피해자들은) 우리 정부가 존재하지 않을 때 피해를 받으셨다”고 말했다. 이어 “이제는 우리 정부가 있지 않느냐. 그러면 그분들과 소통해서 의사를 반영해서 (한·일 위안부 합의를) 고쳐야 한다”고 덧붙였다. - 우리 정부가 존재하지 않을 때”라는 표현이 곧 임시정부를 부인하는 것으로 해석되어 안 후보의 역사관을 두고 논쟁이 벌어졌다.
<br>-세월호 참사 날짜를 기억하지 못함. 16일 오후 경기도 안산시 단원구 정부합동분향소에서 열린 기억식에 참석했다. 방명록에 '꼭 기억하겠습니다. 잊지 않겠습니다'라는 메시지를 적었다. 이어 날짜를 쓰는데 '2017' 까지만 적고 머뭇거렸다. 손목시계를 확인하려 하자 옆에 보좌관이 '416'이라고 말해줬고, 그제서야 '4.16'을 적고 방명록을 덮었다.
<br>- 안철수 후보는 빅데이터 산업 활성화를 위해 개인정보 규제완화가 필요하고, 개인정보 매매 시 동의를 받도록 의무화하는 것에 유보적 입장을

<br><br><심상정><br>
-메갈리아 티셔츠를 공동구매했단 이유로 직장을 잃은 성우의 노동권 주장
<br>-노 전 대통령 묘소를 참배하고 방명록에 '친노(親勞) 정부 수립하여 사람 사는 세상 만들겠습니다' (고인 방명록에 말장난 논란)
</p><br>

<h4>3.안보&역사관</h4>
<p><br><문재인>
<br>- 대선후보 토론회에서 "북한이 우리 주적이냐"고 묻자 문 후보는 "(주적 규정은) 국방부가 할 일이지, 대통령이 할 일이 아니다"고 답해 논란.
 
<br><br><홍준표>
<br>- 문재인 더불어민주당 후보를 ‘주적’, 유승민 바른 정당 후보에 ‘이정희 전 통진당 대표와 닮았다’
 
<br><br><안철수><br>
- 5.18관련 당무를 없애자고 제안<br>
- 당 강령에서 4.19와 5.18 등 민주화운동을 삭제하자고 주장하여 논란이 되기도 했다.<br>
- 본인 사드입장은 배치 찬성인데, 당론은 사드 배치 반대이고 과거 사드배치 입장과 지금의 입장이 다름.<br>
- 과거와 사드배치 입장번복<br>
- “군의 주요 보직 및 진급 선발과정이 국가 기관에서 최종 결정되는 것을 잘못된 관행이라고 비난하며 대한민국 국방부에 군 인사권을 돌려주겠다” (군의 문민통제 원칙을 거스르는 발언으로, 이는 군국주의 국가의 주장)<br><br>
 
<유승민><br>
- "(북한의 핵 공격) 징후가 확실하게 발견되면(한미) 협의를 해서 아주 보안을 유지하면서 비밀리에 선제타격을 해야 하는 겁니다."<br><br>
 
<심상정><br>
- 한미연합 훈련을 비난하는 북한의 주장을 그대로 담고있는 성명에 서명하여 논란<br><br>
 
 </p>
 
<h4>4.정치관</h4><br>
<p><문재인><br>
- 경선 직후 문자폭탄과 18원 후원금 등에 대해 "치열하게 경쟁하다 보면 있을 수 있는 일들이죠. 우리 경쟁을 더 흥미롭게 만들어주는 양념 같은 것이었다”<br>
- 2012년에는 "내각제가 대통령제보다 좋다"에서 현재, "내각제는 검증이 안 된 제도"라고 입장번복.<br><br>
 
<홍준표><br>
- 박근혜 전 대통령 사면 문제에 대해 "아직 유무죄가 확정되지 않은 상태인데, 그런 부분에 대해서 사면을 논하는 것은 잘못된 질문이라고 본다"<br><br>
 
<안철수><br>
- 보수표 의식해 "나는 태극기.촛불집회 양쪽다 참석 안했다" 발언<br>
- 대선 행사에 조직폭력배 동원했다는 의혹<br>
- "한전 등 전력 공기업이 독점한 에너지 시장을 개방할 것"(민영화 발언)<br>
- 국회 참석은 했지만, 처음부터 끝까지 자리를 지킨 경우가 거의 없다.<br>
- 박근혜 문제에 대해 재판이 시작되지 않았는데 너무 앞서간 이야기”라면서도 “저는 사면권은 남용되지 않아야 한다는 말씀을 꼭 드리고 싶다”<br>
- ‘새정치를 통한 외연 확대'를 주장하면서 대다수는 더불어민주당의 탈당파와 과거 이명박전 대통령 밑에 있었던 사람들이었다.<br>
- 공식적으로 “해볓정책 성과 계승”공표한 이후 최근 안보는 보수라는 주장으로 입장번복<br>
- "대통령이 될 경우 가장 먼저 할 일은 장관들의 사표를 받는 것이고 차관 체제로 국무회의를 진행하겠다"(헌법 위반 사항)<br><br>
 
<유승민><br>
- 다음 통령이 해야 할 일은 과거청산이 아니라 대한민국의 문제 해결이다.<br>
- 박근혜 사건에 대해,“저는 법치에 대해선 엄격하다. 사법적 판단이 다 끝날 때까지 기다릴 것이고, 그때 가서 국민적 요구, 시대적 상황 등을 다 봐서 결정하겠다"<br>
- 20대 총선당시 새누리당 탈당하여 무소속 신분이 된 선거사무실에 "대통령 존영(사진)을 오는 29일까지 반납하라"고 정식으로 통보했는데 거부<br>
</p>
	<a href = "/" class="btn btn-primary">Main</a>
					</div>
				  </div>
			  </div>
	    </div>
		</section>
	