<div class="box">
    <div class="text">
		<h2>Part3. 안보&역사관 <br></h2> 
		<div class="option">
		    <form action="/sender/<%= @vote_id %>" method="get">
		        <input type="hidden" name='part' value="5">
                <input type="checkbox" name="numbers[]" value="1">
                대선후보 토론회에서 "북한이 우리 주적이냐"고 묻자 "(주적 규정은) 국방부가 할 일이지, 대통령이 할 일이 아니다"고 답해 논란. <br>
                <input type="checkbox" name="numbers[]" value="2">
                 문재인 더불어민주당 후보를 ‘주적’, 유승민 바른 정당 후보에 ‘이정희 전 통진당 대표와 닮았다’<br>
                <input type="checkbox" name="numbers[]" value="3">
                당 강령에서 4.19와 5.18 등 민주화운동을 삭제하자고 주장하여 논란이 되기도 했다.<br>
                <input type="checkbox" name="numbers[]" value="3">
                본인 사드입장은 배치 찬성인데, 당론은 사드 배치 반대이고 과거 사드배치 입장과 지금의 입장이 다름. <br>
                <input type="checkbox" name="numbers[]" value="4">
                 "(북한의 핵 공격) 징후가 확실하게 발견되면(한미) 협의를 해서 아주 보안을 유지하면서 비밀리에 선제타격을 해야 하는 겁니다."<br>
                <input type="checkbox" name="numbers[]" value="5">
                한미연합 훈련을 비난하는 북한의 주장을 그대로 담고있는 성명에 서명하여 논란<br>
                <input type="checkbox" name="numbers[]" value="3">
                “군의 주요 보직 및 진급 선발과정이 국가 기관에서 최종 결정되는 것을 잘못된 관행이라고 비난하며 대한민국 국방부에 군 인사권을 돌려주겠다” (군의 문민통제 원칙을 거스르는 발언으로, 이는 군국주의 국가의 주장) <br>
                <br>
                
                <input type="submit" value="Next" class="btn btn-primary">
            </form>
        </div>
											
																		
	</div>
			
</div>    