<div class="box">
    <div class="text">
		<h2>Part2. 사회적 약자, 인권, 복지에 대한 인식(1)<br></h2> 
		<div class="option">
		    <form action="/sender/<%= @vote_id %>" method="get">
		        <input type="hidden" name='part' value="3">
                <input type="checkbox" name="numbers[]" value="1">
                동성애 법제화 반대 발언- 앞으로 동성애 동성혼을 사실상 허용하는 법률 조례 규칙이 제정되지 않도록 적극 노력하겠다<br>
                <input type="checkbox" name="numbers[]" value="2">
                하숙방 동기들과 돼지흥분제를 이용한 성폭력 모의  <br>
                <input type="checkbox" name="numbers[]" value="3">
                과거 자신의 저서를 통해 “연구소에 나의 친척이 한 명도 없다”고 강조했지만 정작 회사 설립 초창기에 가족들을 이사와 감사로 앉혔던 것 적발.  <br>
                <input type="checkbox" name="numbers[]" value="3">
                불통이라고 비난해오던 박근혜 전 대통령처럼 기자회견이 끝나면 기자들과의 질의응답도 거의 받지 않는 것으로도 유명. <br>
                <input type="checkbox" name="numbers[]" value="3">
                보좌관 2년동안 26명이 교체. 교체된 전직 보좌관 중 한 명은 안철수 의원을 '신하의 간언을 듣지 않는 군주'라고 평가 <br><br>
                
                <input type="submit" value="Next" class="btn btn-primary">
            </form>
        </div>
											
																		
	</div>
			
</div>