<div class="box">
    <div class="text">
		<h2>Part4. 정치관 <br></h2> 
		<div class="option">
		    <form action="/sender/<%= @vote_id %>" method="get">
		     <input type="hidden" name='part' value="6">
                <input type="checkbox" name="numbers[]" value="1">
                경선 직후 문자폭탄과 18원 후원금 등에 대해 "치열하게 경쟁하다 보면 있을 수 있는 일들이죠. 우리 경쟁을 더 흥미롭게 만들어주는 양념 같은 것이었다” <br>
                <input type="checkbox" name="numbers[]" value="2">
                 박근혜 전 대통령 사면 문제에 대해 "아직 유무죄가 확정되지 않은 상태인데, 그런 부분에 대해서 사면을 논하는 것은 잘못된 질문이라고 본다"<br>
                <input type="checkbox" name="numbers[]" value="3">
                보수표 의식해 "나는 태극기.촛불집회 양쪽다 참석 안했다" 발언<br>
                <input type="checkbox" name="numbers[]" value="3">
                국회 참석은 했지만, 처음부터 끝까지 자리를 지킨 경우가 거의 없다.<br>
                <input type="checkbox" name="numbers[]" value="4">
                 "다음 통령이 해야 할 일은 과거청산이 아니라 대한민국의 문제 해결이다."<br>
                <input type="checkbox" name="numbers[]" value="1">
                2012년에는 "내각제가 대통령제보다 좋다"에서 현재, "내각제는 검증이 안 된 제도"라고 입장번복.<br>
                <input type="checkbox" name="numbers[]" value="3">
                 박근혜 문제에 대해 재판이 시작되지 않았는데 너무 앞서간 이야기”라면서도 “저는 사면권은 남용되지 않아야 한다는 말씀을 꼭 드리고 싶다”
               <br>
                <input type="checkbox" name="numbers[]" value="3">
                ‘새정치를 통한 외연 확대'를 주장하면서 대다수는 더불어민주당의 탈당파와 과거 이명박전 대통령 밑에 있었던 사람들이었다.<br>
                <input type="checkbox" name="numbers[]" value="3">
                공식적으로 “햇볕정책 성과 계승”공표한 이후 최근 안보는 보수라는 주장으로 입장번복<br>
                <input type="checkbox" name="numbers[]" value="3">
                "대통령이 될 경우 가장 먼저 할 일은 장관들의 사표를 받는 것이고 차관 체제로 국무회의를 진행하겠다"(헌법 위반 사항)<br>
                <input type="checkbox" name="numbers[]" value="4">
                박근혜 사건에 대해,“저는 법치에 대해선 엄격하다. 사법적 판단이 다 끝날 때까지 기다릴 것이고, 그때 가서 국민적 요구, 시대적 상황 등을 다 봐서 결정하겠다"<br>
                <input type="checkbox" name="numbers[]" value="4">
                20대 총선당시 새누리당 탈당하여 무소속 신분이 된 선거사무실에 "대통령 존영(사진)을 오는 29일까지 반납하라"고 정식으로 통보했는데 거부<br>
                
                <input type="submit" value="Next" class="btn btn-primary">
            </form>
        </div>
        </div>
        </div>