<div class="box">
    <div class="text">
		<h2>Part1. 공권력 남용 & 측근 혹은 본인의 비리(2)<br></h2> 
		<div class="option">
		    <form action="/sender/<%= @vote_id %>" method="get">
		        <input type="hidden" name='part' value="2">
                <input type="checkbox" name="numbers[]" value="3">
                박근혜 당시 대선후보와 이 후보에 대한 네거티브 논란을 다루면서 이 후보가가 기업인일 당시 2003년 최 회장이 분식회계 등 혐의로 구속되자 자신과 최 회장을 비롯한 유명 벤처기업인·재벌가 자제 등이 속한 `브이소사이어티' 명의로 선처를 호소하는 탄원서를 낸 사실을 지적하였다.  <br>
                <input type="checkbox" name="numbers[]" value="3">
                한 후보가 버락 오바마 전 미국 대통령 연설문 중 두 문장을 베꼈다는 의혹이 제기.  <br>
                <input type="checkbox" name="numbers[]" value="3">
                과거 자신의 저서를 통해 “연구소에 나의 친척이 한 명도 없다”고 강조했지만 정작 회사 설립 초창기에 가족들을 이사와 감사로 앉혔던 것 적발.  <br>
                <input type="checkbox" name="numbers[]" value="3">
                불통이라고 비난해오던 박근혜 전 대통령처럼 기자회견이 끝나면 기자들과의 질의응답도 거의 받지 않는 것으로도 유명. <br>
                <input type="checkbox" name="numbers[]" value="3">
                보좌관 2년동안 26명이 교체. 교체된 전직 보좌관 중 한 명은 이 후보를 '신하의 간언을 듣지 않는 군주'라고 평가 <br><br>
                
                <input type="submit" value="Next" class="btn btn-primary">
            </form>
        </div>
											
																		
	</div>
			
</div>