<div class="box">
    <div class="text">
		<h2>Part2. 공권력 남용 & 측근 혹은 본인의 비리(2)<br></h2> 
		<div class="option">
		    <form action="/sender/<%= @vote_id %>" method="get">
		        <input type="hidden" name='part' value="4">
                <input type="checkbox" name="numbers[]" value="1">
                복지공약 축소논란 - 13일 발표분에는 만 0세에서 5세 아동 중 소득 하위 80%를 대상으로 월 20만 원씩 지급한다고 돼 있음.
그런데 17일 선관위 자료에는 월 10만 원부터 시작해 단계적으로 인상한다고만 돼있다. <br>
                <input type="checkbox" name="numbers[]" value="2">
                 "세월호 사건, 3년 해먹었으면 됐다" <br>
                <input type="checkbox" name="numbers[]" value="3">
                한·일 위안부 합의에 대해 어떻게 생각하느냐”고 묻자 “(위안부 피해자들은) 우리 정부가 존재하지 않을 때 피해를 받으셨다”고 말했다. 이어 “이제는 우리 정부가 있지 않느냐. 그러면 그분들과 소통해서 의사를 반영해서 (한·일 위안부 합의를) 고쳐야 한다”고 덧붙였다. - 우리 정부가 존재하지 않을 때”라는 표현이 곧 임시정부를 부인하는 것으로 해석<br>
                <input type="checkbox" name="numbers[]" value="1">
                복지공약 축소논란 <br>
                <input type="checkbox" name="numbers[]" value="2">
                 고(故) 노무현 전 대통령을 향해 “뇌물 먹고 자살한 사람”이라 표현 <br>
                <input type="checkbox" name="numbers[]" value="3">
                세월호 참사 날짜를 기억하지 못함. 16일 오후 경기도 안산시 단원구 정부합동분향소에서 열린 기억식에 참석했다. 방명록에 '꼭 기억하겠습니다. 잊지 않겠습니다'라는 메시지를 적었다. 이어 날짜를 쓰는데 '2017' 까지만 적고 머뭇거렸다. 손목시계를 확인하려 하자 옆에 보좌관이 '416'이라고 말해줬고, 그제서야 '4.16'을 적고 방명록을 덮었다. <br>
                <input type="checkbox" name="numbers[]" value="2">
                해고 쉬우면 비정규직 해결 쉬워진다. <br>
                <input type="checkbox" name="numbers[]" value="3">
                빅데이터 산업 활성화를 위해 개인정보 규제완화가 필요하고, 개인정보 매매 시 동의를 받도록 의무화하는 것에 유보적 입장을 보임 <br><br>
                
                
                <input type="submit" value="Next" class="btn btn-primary">
            </form>
        </div>
											
																		
	</div>
			
</div>    
                
                
                
                
                
                
                
                
                
                
