<div class="box">
    <div class="text">
		<h2>Part1. 공권력 남용 & 측근 혹은 본인의 비리(1)<br></h2> 
		<div class="option">
		    <form action="/sender/<%= @vote_id %>" method="get">
		        <input type="hidden" name='part' value="1">
                <input type="checkbox" name="numbers[]" value="1">
                아들 취업 특혜 논란 <br>
                <input type="checkbox" name="numbers[]" value="2">
                성완종 리스트와 관련한 대법원 판결을 앞두고 있는 사람 <br>
                <input type="checkbox" name="numbers[]" value="3">
                부인 대학 교수 채용 비리 논란 <br>
               <input type="checkbox" name="numbers[]" value="4">
                새누리당 전현직 의원들에게 금품을 건내고 골프 접대를 한 사건에 보좌관 연루 <br>
                <input type="checkbox" name="numbers[]" value="1">
                18대 대선 당시 특정 당 소속 국회의원 보좌진들이 모여 만든 사조직이 대선 기간동안 조직적 SNS 활동을 벌이다 적발. 그 중 한명이 19대 대선에서도 캠프의 SNS 팀을 맡음 <br>
                <input type="checkbox" name="numbers[]" value="2">
                한 후보는 의료공급 과잉과 귀족노조와 수익성 악화에 따른 적자 누적을 주장하며 진주의료원의 폐업 결정을 돌연 발표 <br>
                <input type="checkbox" name="numbers[]" value="3">
                예비군 불참 논란 <br>
                <input type="checkbox" name="numbers[]" value="3">
                부인의 사적인 보좌관이용 <br>
                <input type="checkbox" name="numbers[]" value="3">
                공직자가족 재산공개 발의 한 후, 본인 딸 재산공개 거부 <br>
                <input type="checkbox" name="numbers[]" value="3">
                한 후보는 정치에 입문하기 전 외제차를 타고 다니면서 언론 인터뷰에서는 국산차를 탄다고 했던 것 <br><br>
                <input type="submit" value="Next" class="btn btn-primary">
            </form>
        </div>
											
																		
	</div>
			
</div>



